.body{
    font-family: "Open Sans", "Adobe Blank";
    font-weight: normal;
}
.colred{
    color: #a72222;
}

.arial{
    font-family: Arial;
}

table tr th, table tr td { padding-top: 5px; }



strong{
    color: black;
    margin-top: 0px;
}
table{
    padding-top: 15px;
}

.td_label{
    width: 80px;
    font-weight: bold;
}
.td_label1 {
    width: 20px;
}
.td_user_info{
    width: 250px;
}

.fa-hand-o-right:before {
    content: "\f0a4"
}

.tdline{
    border-bottom: 1px #f0f0f0 solid;
    padding-bottom: 3px;
}

.div_title{

    font-size:  22px;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
}
.div_title>span{
    font-size: 12px;
    font-weight: initial;
    color: black;
}
.namesociete{
    font-size: 18px;
    font-weight: bold;
}
.topsocieteinfo{

    padding-top: 15px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 0.15pt;
    padding-bottom: 10px;
    font-size: 10px;

}