.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side, .skin-black .main-header{
    background-color: transparent;
    background-image: url("/image/admin/dashboard/font3.jpg");
}
.slimScrollDiv, .skin-black .main-header .navbar, .skin-black .main-header > .logo{
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #ffffff52;
}
.skin-black .sidebar a{
    color: #141415;
}

.skin-black .sidebar-menu > li > a{
    border-left: none;
    cursor: inherit;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion{
    margin-right: 4px;
}
.skin-black .sidebar-menu > li > a>i{
    padding-right: 5px;
}

table.sonata-ba-list th {
    background-image: none;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: none;
}

th.sonata-ba-list-field-header-order-desc a, th.sonata-ba-list-field-header-order-asc a {
    font-weight: normal;
}
.table-striped>tbody>tr {
    cursor: pointer;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: inherit;
}
.table-hover>tbody>tr:hover{
    background-color: #f5f5f5;
}
.table-hover>tbody>tr{
    border-bottom: 1px #e3e3e3 solid;
}
.sonata-ba-list td.sonata-ba-list-field a.sonata-link-identifier{
    font-weight: bold;
    color: #1d5576;
}
th.sonata-ba-list-field-header-order-desc a, th.sonata-ba-list-field-header-order-asc a {
    position: relative;
    margin-right: 10px;
    display: inline-block;
    color: #c90000;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.aaction{
    font-size: 22px;
    text-shadow: 0px 0px 2px #b6b6b6;
}
.aaction.show {
    color: #00bcd4;
}
.aaction.edit {
    color: green;
}
.aaction.remove{
    color: red;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    position: relative;
    color: #c90000;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


.select2-container .select2-choice {
    font-weight: bold;
    box-shadow: 0px 1px 5px -3px rgba(44, 44, 44, 1);
    color: #a72222;
    font-family: 'Open Sans Condensed', sans-serif;
    outline: 0;
    position: relative;
    transition: all .3s ease-in-out;
    border: 1px #b6b4b4 solid;
    height: auto;
    line-height: 15px;
    border-radius: 3px!important;
}

.select2-container .select2-choice .select2-arrow b{
    margin: -2px;
}
.select2-choice, .select2-choices, .select2-drop {
    border-radius: 3px!important;
    font-weight: bold;
    border: 1px solid #a72222;
}

form>.row{
    margin-top: 10px;
    margin-left: -2px;
}

.box-header>.box-title>i {
    background-color: #c90000;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 11px -2px black;
    float: left;
    margin-left: -48px;
    margin-top: -22px;
    text-align: center;
    width: 39px;
}

.select2-results .select2-highlighted {
    color: #fff;
    background-color: #a72222;
}

.sidebar>p{
    border-top: none;
    display: none;
}
.navbar-right-logout
{
    float: right!important
}
.navbar-right-logout a{
    font-size: 14px;
    color: #c90000 !important;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}
.navbar-right-logout a>span{
    padding: 10px;
}
.navbar-right-logout a>i{
    font-size: 18px;
}

.skin-black .sidebar-menu > li > .treeview-menu{
    background-color: transparent;
    margin: 0px;
}
.skin-black .treeview-menu > li > a{
    color: #c90000;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px -1px black;
    margin-bottom: 2px;
    padding: 10px 5px 10px 15px;
}
.skin-black .treeview-menu > li > a:hover, .skin-black .treeview-menu > li.active > a, .skin-black .treeview-menu > li > a:hover {
    color: white !important;
    background-color: #9b0000;
}

.sidebar-menu .treeview-menu{
    padding-left: 0px;
}

.skin-black .sidebar a {
    color: #141415;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a {
    color: #000000;
    background: transparent;
    border-left-color: #585858;
}

body{
    background-color: #EDEDED;
    background-position: center 0px;
    background-repeat: no-repeat;
    color: #3F3F3F;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

/* Panel devis edit */

.input-group .form-control
{
    float: none;
}
.input-group .input-group-addon{
    display: none;
}

input.form-control {
    border-radius: 3px;
    box-shadow: 0px 1px 5px -3px rgba(44, 44, 44, 1);
    color: #a72222;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    outline: 0;
    padding: 4px 0 4px 0px;
    position: relative;
    transition: all .3s ease-in-out;
    text-indent: 10px;
    border: 1px #b6b4b4 solid;
    height: auto;
}

div.input-group{
    display: block;
}

.sonata-ba-field.sonata-ba-field-standard-natural {
    display: inline-block;
    width: 50%;
}

.form-group>label {
    width: 120px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    color: black;
}

.form-group {
    border-top: 1px solid #eaeaea;
    padding-top: 8px;
    padding-bottom: 6px;
}

.form-group div.select2-container{
    display: block;
}


.sonata-ba-collapsed-fields > .form-group {
    margin-bottom: 0px;
}

/* Panel devis show */
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a {
    background-color: #fff;
    color: #444;
    box-shadow: 0px 0px 15px -5px black;
}

.ui-datepicker{
    z-index: 100;
}

.nav-tabs-custom {
    margin-bottom: 20px;
    background: #ffffff9e;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: #c90000;
    padding-left: 25px;
}

.box.box-primary {
    border: 1px lightgrey solid;
    border-radius: 5px;
}

.nav-tabs-custom>.tab-content {
    background: transparent;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #eaeaea;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    color: black;
}
.alert>i{
    font-size: 20px;
    float: left;
    margin-right: 8px;
    margin-top: -1px;
}
.imprimer_devis{
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 15px -10px black;
    border: 1px #d7d7d7 solid;
}
.nav-tabs-custom>.nav-tabs>li>a, .imprimer_devis  {
    color: #444;
    border-radius: 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    background: #fff;
    color: #a72222;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 13px 45px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    margin-bottom: 1px;
    box-shadow: 0px 0px 15px -8px black;
}

/* Button */
form .well, .form-group>.well {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

form .well .btn {
    box-shadow: 5px 3px 10px -3px #747474;
}
.form-actions.stuck
{
    position: inherit;
}

/* Panel top */

.aaction{
    font-size: 22px;
    text-shadow: 0px 0px 2px #b6b6b6;
}
.aaction.show {
    color: #00bcd4;
}
.aaction.edit {
    color: green;
}
.aaction.remove{
    color: red;
}

.main-header .sidebar-toggle:before{
    content: none;
}

.changer-tab>i, .imprimer_devis>i{
    font-size: 23px;
    color: #333;
    margin-right: 10px;
    position: absolute;
    left: 14px;
    top: 10px;
}

.nav-tabs-custom>.nav-tabs{
    margin-bottom: 15px;
    border-bottom-color: #d3d3d3;
}

.nav-tabs-custom>.nav-tabs>li {
    border-top: 3px solid transparent;
    margin-bottom: 3px;
    margin-right: 5px;
}

.nav>li>a{
    display: inline-block;
}
.btn-default {
    background-color: transparent;
    border: none;
    padding: 1px 9px;
}

.btn-default:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    font-size: 15px;
    color: #024928;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a.sonata-action-element{
    background-color: #024928;
    color: white;
    border-left: 1px white solid;
}
.navbar-default .navbar-nav>li>a.sonata-action-element:hover{
    background-color: #04703e;
}

.navbar-default .navbar-nav>li>a.sonata-action-element>i{
    margin-right: 4px;
}

.form-control[disabled], fieldset[disabled] .form-control {
    border: none;
    box-shadow: none;
    height: 28px;
}
.devisPrev{

}
.devisPrev>a{
    color: #444;
    text-decoration: underline;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-left: 31px;
    margin-bottom: 21px;
    display: inline-block;
}
.devisPrev>a>i{
    font-size: 25px;
    color: #a72222;
    margin-right: 6px;
    float: left;
    margin-top: -5px;
}

.devis_table_list a{
    text-decoration: underline;
}


.divlogo{
    display: inline-block;
    float: left;
    background: white;
}

.divlogo>img{
    height: 100%;
    position: absolute;
}

.div_company_logo>img{
    width: 140px;
    cursor: pointer;
    box-shadow: 0px 0px 15px -3px black;
}
.div_company_logo>input[type='file'] {
    display: none;
}
.div_company_logo>span{
    display: inline-block;
    margin-left: 35px;
    width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.div-group-class .sonata-ba-field.sonata-ba-field-standard-natural{
    width: 100%;
}

div.alert {
    font-size: 13px !important;
    font-weight: bold;
    text-shadow: 0px 0px 8px #000000;
    box-shadow: 0px 0px 15px -3px black;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body{
    font-size: 11px;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    font-size: 11px;
}

.sonata-bc .breadcrumb {
    font-size: 14px;
}