<table class="table table-bordered table-striped sonata-ba-list">
    <thead>
    <tr class="sonata-ba-list-field-header">
        <th class="sonata-ba-list-field-header-actions">Date</th>
        <th class="sonata-ba-list-field-header-actions">E-mail</th>
        <th class="sonata-ba-list-field-header-actions">Devis</th>
        <th class="sonata-ba-list-field-header-actions">Dec. Val</th>
        <th class="sonata-ba-list-field-header-actions">Condition Gen.</th>
        <th class="sonata-ba-list-field-header-actions">Facture</th>
        <th class="sonata-ba-list-field-header-actions">Lettre Chrg.</th>
        <th class="sonata-ba-list-field-header-actions">Lettre DeChrg.</th>
      </tr>
    </thead>
    <tbody>

    <tr>
        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="43">11/06/2018 02:57</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-Symfony\Component\Form\Extension\Core\Type\TextType" objectid="43">rubenann@yahoo.com</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier colred" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
    </tr>

    <tr>
        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="43">11/06/2018 02:57</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-Symfony\Component\Form\Extension\Core\Type\TextType" objectid="43">rubenann@yahoo.com</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier colred" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
    </tr>

    <tr>
        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="43">11/06/2018 02:57</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-Symfony\Component\Form\Extension\Core\Type\TextType" objectid="43">rubenann@yahoo.com</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier colred" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
    </tr>

    <tr>
        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="43">11/06/2018 02:57</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-Symfony\Component\Form\Extension\Core\Type\TextType" objectid="43">rubenann@yahoo.com</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier colred" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
    </tr>

    <tr>
        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="43">11/06/2018 02:57</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-Symfony\Component\Form\Extension\Core\Type\TextType" objectid="43">rubenann@yahoo.com</td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier colred" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="43">
            <a class="sonata-link-identifier" href="/adminss/app/calculdevis/43/edit"><i class="far fa-file-pdf"></i></a>
        </td>
    </tr>

    </tbody>

</table>

<style>
    .sonata-link-identifier>i {
        font-size: 18px;
    }
    .sonata-link-identifier {
        padding-left: 10px;
    }
    .colred {
        color: darkred;
    }
</style>