body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #3F3F3F;
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: center 0px;
    background-image: url(/img/bacpap8.png);
    background-position: center 0px;
}

@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css?integrit=sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg&crossorigin=anonymous");
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1a1a1a;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
}
.colred {
    color: #a72222;
}

.divbodyblock{
    text-align: center;
}
.divbodyblock>div{
    text-align: left;
}