<ul class="nav navbar-nav navbar-left">
    <li>
        <a> <i class="fas fa-user"></i> {{ company.firstName }} {{ company.lastName }}</a><a><i class="fas fa-tasks"></i> Compte : {{ company.viewDevisCount }} fishes Devis</a>  <a><i class="fas fa-envelope"></i> Nouvelle message :  0</a>
    </li>
</ul>