<table class="table table-bordered table-striped table-hover sonata-ba-list">
    <thead>
    <tr class="sonata-ba-list-field-header">

        <th class="sonata-ba-list-field-header-datetime  sonata-ba-list-field-header-order-desc sonata-ba-list-field-order-active"><a href="/espace/app/demandedevis/list?filter%5B_sort_order%5D=ASC&amp;filter%5B_sort_by%5D=CreatedDate&amp;filter%5B_page%5D=1&amp;filter%5B_per_page%5D=32&amp;_list_mode=list">                                                                                                        Devis
            </a></th>
        <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc "><a href="/espace/app/demandedevis/list?filter%5B_sort_order%5D=ASC&amp;filter%5B_sort_by%5D=nom&amp;filter%5B_page%5D=1&amp;filter%5B_per_page%5D=32&amp;_list_mode=list">                                                                                                        Dec. Valeur
            </a></th>
        <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc "><a href="/espace/app/demandedevis/list?filter%5B_sort_order%5D=ASC&amp;filter%5B_sort_by%5D=prenom&amp;filter%5B_page%5D=1&amp;filter%5B_per_page%5D=32&amp;_list_mode=list">                                                                                                        Cond. Gener.
            </a></th>
        <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc "><a href="/espace/app/demandedevis/list?filter%5B_sort_order%5D=ASC&amp;filter%5B_sort_by%5D=cp1&amp;filter%5B_page%5D=1&amp;filter%5B_per_page%5D=32&amp;_list_mode=list">                                                                                                        Facture
            </a></th>
        <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc "><a href="/espace/app/demandedevis/list?filter%5B_sort_order%5D=ASC&amp;filter%5B_sort_by%5D=cp2&amp;filter%5B_page%5D=1&amp;filter%5B_per_page%5D=32&amp;_list_mode=list">                                                                                                        L. Chargement
            </a></th>
        <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc "><a href="/espace/app/demandedevis/list?filter%5B_sort_order%5D=ASC&amp;filter%5B_sort_by%5D=date1&amp;filter%5B_page%5D=1&amp;filter%5B_per_page%5D=32&amp;_list_mode=list">                                                                                                        L. Deshargement
            </a></th>
                                                                                                         </tr>
    </thead>

    <tbody class="devis_table_list">

    <tr>


        <!-- START
            fieldName: batch
            template: @SonataAdmin/CRUD/list__batch.html.twig
            compiled template: @SonataAdmin/CRUD/list__batch.html.twig
            -->


        <!-- END - fieldName: batch -->

        <!-- START
            fieldName: readed
            template: /admin/boolean.html.twig
            compiled template: /admin/boolean.html.twig
            -->

        <!-- END - fieldName: readed -->

        <!-- START
            fieldName: CreatedDate
            template: @SonataAdmin/CRUD/list_datetime.html.twig
            compiled template: @SonataAdmin/CRUD/list_datetime.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="fa263575-6418-4c2a-9f5a-728bf753a9cf">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/fa263575-6418-4c2a-9f5a-728bf753a9cf/show">Devis</a>
        </td>

        <!-- END - fieldName: CreatedDate -->

        <!-- START
            fieldName: nom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="fa263575-6418-4c2a-9f5a-728bf753a9cf">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/fa263575-6418-4c2a-9f5a-728bf753a9cf/show">Declaration Valeur</a>
        </td>

        <!-- END - fieldName: nom -->

        <!-- START
            fieldName: prenom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="fa263575-6418-4c2a-9f5a-728bf753a9cf">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/fa263575-6418-4c2a-9f5a-728bf753a9cf/show">Condition Générale</a>
        </td>

        <!-- END - fieldName: prenom -->

        <!-- START
            fieldName: cp1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="fa263575-6418-4c2a-9f5a-728bf753a9cf">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/fa263575-6418-4c2a-9f5a-728bf753a9cf/show">Facture</a>
        </td>

        <!-- END - fieldName: cp1 -->

        <!-- START
            fieldName: cp2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="fa263575-6418-4c2a-9f5a-728bf753a9cf">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/fa263575-6418-4c2a-9f5a-728bf753a9cf/show">Lettre Chargement</a>
        </td>

        <!-- END - fieldName: cp2 -->

        <!-- START
            fieldName: date1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="fa263575-6418-4c2a-9f5a-728bf753a9cf">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/fa263575-6418-4c2a-9f5a-728bf753a9cf/show">Lettre Dechargement</a>
        </td>

        <!-- END - fieldName: date1 -->

        <!-- START
            fieldName: date2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->


        <!-- END - fieldName: date2 -->
    </tr>
    <tr>


        <!-- START
            fieldName: batch
            template: @SonataAdmin/CRUD/list__batch.html.twig
            compiled template: @SonataAdmin/CRUD/list__batch.html.twig
            -->


        <!-- END - fieldName: batch -->

        <!-- START
            fieldName: readed
            template: /admin/boolean.html.twig
            compiled template: /admin/boolean.html.twig
            -->


        <!-- END - fieldName: readed -->

        <!-- START
            fieldName: CreatedDate
            template: @SonataAdmin/CRUD/list_datetime.html.twig
            compiled template: @SonataAdmin/CRUD/list_datetime.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="0aa60edc-ffe0-4db1-938b-d75dcfe6ac17">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/0aa60edc-ffe0-4db1-938b-d75dcfe6ac17/show">25/12/2018</a>
        </td>

        <!-- END - fieldName: CreatedDate -->

        <!-- START
            fieldName: nom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="0aa60edc-ffe0-4db1-938b-d75dcfe6ac17">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/0aa60edc-ffe0-4db1-938b-d75dcfe6ac17/show">                Ruben            </a>
        </td>

        <!-- END - fieldName: nom -->

        <!-- START
            fieldName: prenom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="0aa60edc-ffe0-4db1-938b-d75dcfe6ac17">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/0aa60edc-ffe0-4db1-938b-d75dcfe6ac17/show">                Petrosjan            </a>
        </td>

        <!-- END - fieldName: prenom -->

        <!-- START
            fieldName: cp1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="0aa60edc-ffe0-4db1-938b-d75dcfe6ac17">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/0aa60edc-ffe0-4db1-938b-d75dcfe6ac17/show">                67100            </a>
        </td>

        <!-- END - fieldName: cp1 -->

        <!-- START
            fieldName: cp2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="0aa60edc-ffe0-4db1-938b-d75dcfe6ac17">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/0aa60edc-ffe0-4db1-938b-d75dcfe6ac17/show">                26300            </a>
        </td>

        <!-- END - fieldName: cp2 -->

        <!-- START
            fieldName: date1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="0aa60edc-ffe0-4db1-938b-d75dcfe6ac17">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/0aa60edc-ffe0-4db1-938b-d75dcfe6ac17/show">                15/01/2019            </a>
        </td>

        <!-- END - fieldName: date1 -->

        <!-- START
            fieldName: date2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->



        <!-- END - fieldName: date2 -->
    </tr>
    <tr>


        <!-- START
            fieldName: batch
            template: @SonataAdmin/CRUD/list__batch.html.twig
            compiled template: @SonataAdmin/CRUD/list__batch.html.twig
            -->


        <!-- END - fieldName: batch -->

        <!-- START
            fieldName: readed
            template: /admin/boolean.html.twig
            compiled template: /admin/boolean.html.twig
            -->

        <!-- END - fieldName: readed -->

        <!-- START
            fieldName: CreatedDate
            template: @SonataAdmin/CRUD/list_datetime.html.twig
            compiled template: @SonataAdmin/CRUD/list_datetime.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="b489b351-d4b7-4910-934d-3cd62769d3db">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/b489b351-d4b7-4910-934d-3cd62769d3db/show">25/12/2018</a>
        </td>

        <!-- END - fieldName: CreatedDate -->

        <!-- START
            fieldName: nom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="b489b351-d4b7-4910-934d-3cd62769d3db">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/b489b351-d4b7-4910-934d-3cd62769d3db/show">                Sobaka            </a>
        </td>

        <!-- END - fieldName: nom -->

        <!-- START
            fieldName: prenom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="b489b351-d4b7-4910-934d-3cd62769d3db">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/b489b351-d4b7-4910-934d-3cd62769d3db/show">                            </a>
        </td>

        <!-- END - fieldName: prenom -->

        <!-- START
            fieldName: cp1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="b489b351-d4b7-4910-934d-3cd62769d3db">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/b489b351-d4b7-4910-934d-3cd62769d3db/show">                            </a>
        </td>

        <!-- END - fieldName: cp1 -->

        <!-- START
            fieldName: cp2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="b489b351-d4b7-4910-934d-3cd62769d3db">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/b489b351-d4b7-4910-934d-3cd62769d3db/show">                            </a>
        </td>

        <!-- END - fieldName: cp2 -->

        <!-- START
            fieldName: date1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="b489b351-d4b7-4910-934d-3cd62769d3db">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/b489b351-d4b7-4910-934d-3cd62769d3db/show">                15/01/2019            </a>
        </td>

        <!-- END - fieldName: date1 -->

        <!-- START
            fieldName: date2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->



        <!-- END - fieldName: date2 -->
    </tr>
    <tr>


        <!-- START
            fieldName: batch
            template: @SonataAdmin/CRUD/list__batch.html.twig
            compiled template: @SonataAdmin/CRUD/list__batch.html.twig
            -->

        <!-- END - fieldName: batch -->

        <!-- START
            fieldName: readed
            template: /admin/boolean.html.twig
            compiled template: /admin/boolean.html.twig
            -->

        <!-- END - fieldName: readed -->

        <!-- START
            fieldName: CreatedDate
            template: @SonataAdmin/CRUD/list_datetime.html.twig
            compiled template: @SonataAdmin/CRUD/list_datetime.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="09bba301-88f3-4622-90d4-e5c3a8fdc72d">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/09bba301-88f3-4622-90d4-e5c3a8fdc72d/show">24/12/2018</a>
        </td>

        <!-- END - fieldName: CreatedDate -->

        <!-- START
            fieldName: nom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="09bba301-88f3-4622-90d4-e5c3a8fdc72d">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/09bba301-88f3-4622-90d4-e5c3a8fdc72d/show">                Ruben            </a>
        </td>

        <!-- END - fieldName: nom -->

        <!-- START
            fieldName: prenom
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="09bba301-88f3-4622-90d4-e5c3a8fdc72d">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/09bba301-88f3-4622-90d4-e5c3a8fdc72d/show">                Petros            </a>
        </td>

        <!-- END - fieldName: prenom -->

        <!-- START
            fieldName: cp1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="09bba301-88f3-4622-90d4-e5c3a8fdc72d">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/09bba301-88f3-4622-90d4-e5c3a8fdc72d/show">                            </a>
        </td>

        <!-- END - fieldName: cp1 -->

        <!-- START
            fieldName: cp2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="09bba301-88f3-4622-90d4-e5c3a8fdc72d">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/09bba301-88f3-4622-90d4-e5c3a8fdc72d/show">                            </a>
        </td>

        <!-- END - fieldName: cp2 -->

        <!-- START
            fieldName: date1
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->

        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="09bba301-88f3-4622-90d4-e5c3a8fdc72d">

            <a class="sonata-link-identifier" href="/espace/app/demandedevis/09bba301-88f3-4622-90d4-e5c3a8fdc72d/show">                15/01/2019            </a>
        </td>

        <!-- END - fieldName: date1 -->

        <!-- START
            fieldName: date2
            template: @SonataAdmin/CRUD/list_string.html.twig
            compiled template: @SonataAdmin/CRUD/list_string.html.twig
            -->



        <!-- END - fieldName: date2 -->
    </tr>
    </tbody>

</table>