{% use "bootstrap_base_layout.html.twig" %}

{% block form_row %}

    {% if 'group' not in form.vars.name %}
        <div class=" text-nowrap form-group {% if form.vars.attr.divclass is defined %}{{ form.vars.attr.divclass }}{% endif %}" style="margin-bottom: 20px">
        {{ form_label(form) }}
    {% endif %}

    {{ form_widget(form) }}
    {% if 'group' not in form.vars.name %}
             </div>
    {% endif %}


{% endblock form_row %}


{% block submit_widget -%}
    <div class="sonata-ba-form-actions well well-small form-actions">
        {{ parent() }}
    </div>
{%- endblock submit_widget %}

