{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block form  %}



{% endblock %}

{% block field%}
    <div>
        Ruben
    </div>
{% endblock %}