{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <a class="aswitch" href="{{ path('homepage', {'_switch_user': value }) }}"><i class="fas fa-sign-in-alt"></i> {{ value }} </a>
{% endblock %}

