{{ '/public/css/block/imageBlock.html.css'|cssloader }}
{{ '/public/css/slick/slick.css'|cssloader }}
{{ '/public/js/slick/slick.min.js'|jsloader }}

<div class="topimageBlock">
<div class="imageBlock">
    <div class="dem-slick">
        <div>
            <div class="slickimageblock">
                <div>
                    <img src="/public/img/slick/camion4.jpg" alt="camion" />
                </div>
                <div>
                    <h2>Demenagements</h2>
                    <h3>Strasourg</h3>
                    <h3>Illkirch-Graffenstaden</h3>
                    <h4>Prix 2530 &euro;</h4>
                    <span>Les cartons sont toujours utiles pour un déménagement. Demandez à votre entreprise de déménagement pour qu’elle vous fournisse les cartons les plus adaptés pour votre déménagement.</span>
                </div>
            </div>
        </div>
        <div>

            <div>
                <div class="slickimageblock">
                    <div>
                        <img src="/public/img/slick/camion4.jpg" alt="camion" />
                    </div>
                    <div>
                        <h2>Demenagements</h2>
                        <h3>Strasourg</h3>
                        <h3>Illkirch-Graffenstaden</h3>
                        <h4>Prix 2530 &euro;</h4>
                        <span>Les cartons sont toujours utiles pour un déménagement. Mais si </span>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="slickimageblock">
                    <div>
                        <img src="/public/img/slick/camion4.jpg" alt="camion" />
                    </div>
                    <div>
                        <h2>Demenagements</h2>
                        <h3>Strasourg</h3>
                        <h3>Illkirch-Graffenstaden</h3>
                        <h4>Prix 2530 &euro;</h4>
                        <span>Les cartons sont toujours utiles pour un déménagement. Mais si </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="slickimageblock">
                    <div>
                        <img src="/public/img/slick/camion4.jpg" alt="camion" />
                    </div>
                    <div>
                        <h2>Demenagements</h2>
                        <h3>Strasourg</h3>
                        <h3>Illkirch-Graffenstaden</h3>
                        <h4>Prix 2530 &euro;</h4>
                        <span>Les cartons sont toujours utiles pour un déménagement. Mais si </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="slickimageblock">
                    <div>
                        <img src="/public/img/slick/camion4.jpg" alt="camion" />
                    </div>
                    <div>
                        <h2>Demenagements</h2>
                        <h3>Strasourg</h3>
                        <h3>Illkirch-Graffenstaden</h3>
                        <h4>Prix 2530 &euro;</h4>
                        <span>Les cartons sont toujours utiles pour un déménagement. Mais si </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="slickimageblock">
                    <div>
                        <img src="/public/img/slick/camion4.jpg" alt="camion" />
                    </div>
                    <div>
                        <h2>Demenagements</h2>
                        <h3>Strasourg</h3>
                        <h3>Illkirch-Graffenstaden</h3>
                        <h4>Prix 2530 &euro;</h4>
                        <span>Les cartons sont toujours utiles pour un déménagement. Mais si </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script>
    $(document).ready(function(){
        $('.dem-slick').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            arrows: false,
            responsive: [
                {
                    breakpoint: 850,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }


            ]
    });
    });
</script>