{% spaceless %}
{% if app.environment == 'dev' %}<!-- Start {{ _self.getTemplateName() }} -->{% endif %}
{{ '/public/css/block/infoPagePrestation.css'|cssloader }}
<div class="contentbottom">
    <div>
        
        <h1>Nos 4 prestations de déménagement</h1>

        <div class="tips">
            <div id="mobilier" class="numbretip">01</div>
            <h2>PRESTATION  MOBILIER</h2>
            
            <h2 class="colred">À NOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">01</span></span>Démontage du mobilier (hors collage et cloutage)</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">02</span></span>Protection du mobilier sous couvertures ou écolopack</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">03</span></span>Manutention et transport</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">04</span></span>Déballage du mobilier</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">05</span></span>Remontage du mobilier si nécessaire</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">06</span></span>Emballage, manutention et transport de votre électro-ménager</span>
</span>

            <h2 class="colred">À VOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">01</span></span>Dépose et repose du mobilier fixé au mur</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">02</span></span>Débranchement et calage de votre électro-ménager</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">03</span></span>Remise en fonction de votre électro-ménager</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">04</span></span>Transport de vos cartons</span>
</span>

        </div>

        <div class="tips">
            <div id="économique" class="numbretip">02</div>
            <h2>PRESTATION  ÉCONOMIQUE</h2>
     
            <h2 class="colred">À NOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">01</span></span>Démontage, emballage, déballage et remontage de votre mobilier si nécessaire (hors collage et cloutage)</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">02</span></span>Emballage et déballage des vêtements suspendus en penderies</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">03</span></span>Emballage et déballage de votre électro-ménager, télévision, Hi-Fi, PC</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">04</span></span>Manutention et transport (hors piano, coffre-fort, billard- devis à part) de l’ensemble des cartons, du mobilier et de l’électro-ménager</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">05</span></span>Remise en place dans les pièces correspondantes du mobilier et des cartons</span>
</span>
      
            <h2 class="colred">À VOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">01</span></span>Emballage et déballage de la vaisselle, verrerie, bibelots, tableaux etc.</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">02</span></span>Emballage et déballage de la cuisine (batterie de cuisine, petits électro-ménager, couverts, alimentation, bouteilles etc. ….)</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">03</span></span>Emballage et déballage du linge, des livres, des jouets, de la salle de bains de la cave, du grenier, garage etc…</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">04</span></span>Débranchement et rebranchement de votre électro-ménager</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">05</span></span>Déconnexion et reconnexion de votre téléviseur, de votre PC, Hi-Fi etc…</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">06</span></span>Dépose du mobilier fixé au mur, des tringles, lustres etc.</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">07</span></span>Transport des plantes et végétaux</span>
</span>

        </div>

        <div class="tips">
            <div id="standard" class="numbretip">03</div>
            <h2>PRESTATION  STANDARD</h2>
            
            <h2 class="colred">À NOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">01</span></span>Démontage, emballage, déballage et remontage de votre mobilier si nécessaire (hors collage et cloutage)</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">02</span></span>Emballage et déballage des vêtements suspendus en penderies</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">03</span></span>Emballage et déballage de votre électro-ménager, télévision, Hi-Fi, PC</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">04</span></span>Manutention et transport (hors piano, coffre-fort, billard- devis à part) de l’ensemble des cartons, du mobilier et de l’électro-ménager</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">05</span></span>Remise en place dans les pièces correspondantes du mobilier et des cartons</span></span>
            <span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">06</span></span>Emballage et déballage de la vaisselle, verrerie, bibelots, tableaux
</span>
            
            <h2 class="colred">À VOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">01</span></span>Emballage et déballage de la cuisine (batterie de cuisine, petits électro-ménager, couverts, alimentation, bouteilles etc. ….)</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">02</span></span>Emballage et déballage du linge, des livres, des jouets, de la salle de bains de la cave, du grenier, garage etc…</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">03</span></span>Débranchement et rebranchement de votre électro-ménager</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">04</span></span>Déconnexion et reconnexion de votre téléviseur, de votre PC, Hi-Fi etc…</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">05</span></span>Dépose du mobilier fixé au mur, des tringles, lustres etc.</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">06</span></span>Transport des plantes et végétaux</span>
</span>
        </div>

        <div class="tips">
            <div id="luxe" class="numbretip">04</div>
            <h2>PRESTATION  LUXE</h2>
            
            <h2 class="colred">À NOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">01</span></span>Démontage, emballage, déballage et remontage de votre mobilier si nécessaire (hors collage et cloutage)</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">02</span></span>Emballage et déballage des vêtements suspendus en penderies</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">03</span></span>Emballage et déballage de votre électro-ménager, télévision, Hi-Fi, PC</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">04</span></span>Manutention et transport (hors piano, coffre-fort, billard- devis à part) de l’ensemble des cartons, du mobilier et de l’électro-ménager</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">05</span></span>Remise en place dans les pièces correspondantes du mobilier et des cartons</span></span>
            <span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">06</span></span>Emballage et déballage de la vaisselle, verrerie, bibelots, tableaux</span>
            <span class="prestationspanlist w"><span class="datetimediv"><span class="colblue">07</span></span>Emballage de la cuisine (batterie de cuisine, petits électro-ménager, couverts, alimentation, bouteilles etc. ….)</span>
            <span class="prestationspanlist g"><span class="datetimediv"><span class="colblue">08</span></span>Emballage du linge, des livres, des jouets, de la salle de bains de la cave, du grenier, garage etc…</span>
            
            <h2 class="colred">À VOTRE CHARGE</h2>
            <span class="text">
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">01</span></span>Déballage de la cuisine</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">02</span></span>Déballage de tous les cartons non fragiles</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">03</span></span>Débranchement et rebranchement de votre électro-ménager</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">04</span></span>Déconnexion et reconnexion de votre téléviseur, de votre PC, Hi-Fi etc…</span>
<span class="prestationspanlist w"><span class="datetimediv"><span class="colgreen">05</span></span>Dépose du mobilier fixé au mur, des tringles, lustres etc.</span>
<span class="prestationspanlist g"><span class="datetimediv"><span class="colgreen">06</span></span>Transport des plantes et végétaux</span>
</span>

        </div>
        
    </div>
</div>
{% if app.environment == 'dev' %}<!-- End {{ _self.getTemplateName() }} -->{% endif %}
{% spaceless %}