{{ '/public/css/block/infoPageAssurance.css'|cssloader }}
{% spaceless %}
<div class="contentbottom">
    <div>
        
        <h1>Assurance déménagement</h1>
        

        <div class="panel normal">
            <div>
                <h2 id="indemnisation" class="colred">INDEMNISATION</h2>
                
                <span class="text">
En cas de perte ou d’avarie, le client est indemnisé dans la limite de la valeur déclarée (toujours remplir une déclaration de valeur en listant les objets ou ensemble d’objets qui dépassent 150 €)
-	Soit à concurrence de la valeur de remplacement à l’identique pour les objets dont l’usage n’altère ni la qualité, ni la durée de vie.
-	Soit à concurrence de la valeur de remplacement à l’identique minorée d’un coefficient de vétusté pour les objets dont l’usage altère la qualité ou la durée de vie.
-	Soit à concurrence du coût de réparation ou remise en état (biens mobiliers seulement endommagés)

</span>
                

                <h2 id="exclusions" class="colred">EXCLUSIONS</h2>
                
                <span class="text">

Sont exclus de cette garantie les cas de force majeur, vice propre de la chose et faute du client (article L.133-1 du nouveau code de commerce).
</span>
                
                <h2 id="conseils" class="colred">CONSEILS</h2>
                
                <span class="text">
En résumé, il faut remplir une déclaration de valeur le plus précisément possible. Demandez à votre déménageur de vous fournir le document <b>DECLARATION DE VALEUR</b>.
Remettez la déclaration à votre déménageur 10 jours avant le déménagement.
A la fin de la livraison, vous vérifiez avec le chef d’équipe l’état du mobilier et vous en donner décharge sur le document déclaration de fin de travail.

<img src="img/assurance.png" alt="assurance déménagement">
</span>
            </div>
        </div>
        <div class="panel normal">
            <div>
                <h2 class="colred">CONSEILS</h2>
                
                <div class="text">
                    En cas de perte ou d’avarie, vous mentionner les réserves écrites, précises et détaillées et vous adressez à l’entreprise dans un délai de 10 jours calendaires un courrier recommandé avec avis de réception en joignant la copie de la déclaration de fin de travail et des photos si possible.
                    
                    <img src="img/assurance1.png" alt="assurance déménagement">L’assurance est toujours chère avant, mais en cas d’avaries sérieuses, accident de la route, incendie, vol de véhicule, lors d’un déménagement routier ou maritime c’est l’ensemble de votre patrimoine que vous confiez à une entreprise.
                    Pour information, vous établissez une déclaration de valeur pour un ensemble de 20.000 €, vous avez listé les objets de plus de 150 €.
                    Vous constatez au déballage que votre vase en porcelaine listé 200 € est brisé, la Cie d’assurance vous remboursera 200 € moins une franchise si il y en a une sur votre contrat avec le déménageur.si le vase n’est pas mentionné vous obtiendrez un remboursement maximum de 150 € moins la franchise.
                    

                    Pour les cartons que vous aurez emballés vous-même, le déménageur n’est pas responsable sauf si le carton présente des chocs ou écrasements etc.
                    
                    <h2 class="colred">EXEMPLE</h2>
                    
                    Déclaration de valeur de 10 000 € sur l’ensemble du déménagement, le camion à un accident et brûle, remboursement de 10 000 € moins la franchise.
                </div>
            </div>
        </div>

        <div class="panel normal">
            <div>
                <h2 class="colred">EXEMPLE</h2>
                
                <div class="text">
                    Absence de déclaration de valeur indemnisation, indemnisation limité à la somme indiqué sur le devis contrat en limitation de responsabilité moins la franchise.
                    
                    Demandez à votre déménageur et lisez bien votre devis contrat ou ces informations sont mentionnées. Le déménageur doit vous demander la valeur et il doit vous proposer l’assurance en garantie dommages ou en RC.
                    
                    <h3>De nos jours, si vous avez rempli une déclaration de valeur</h3>
                    - en cas d’avarie constatée à la livraison et mentionnée sur la déclaration de fin de travail, exemplaire D de la Lettre de Voiture de Déménagement.
                    - vous faites une photo, vous adressez à l’entreprise dans le délai de 10 jours la copie de la déclaration de fin de travail, la photo.
                    -le déménageur transmet à son assureur le dossier et l’assureur prend contact avec vous pour l’indemnisation en fonction de votre déclaration de valeur.
                    
                    Pour information, une assurance en RC coûte environ 0.5% HT sur la valeur soit :
                    <span class="text right"><b>20 000 € X 0.5% = 100€ HT</b></span>
                    
                    En assurance dommage prévoir suivant les Cie de déménagement environ 1% HT sur la valeur soit :
                    <span class="text right"><b>20 000 € X 1%= 200 € HT</b></span>
                    
                    <b>Votre conseiller en déménagement sera à même de vous conseiller sur le montant de la garantie à prévoir.</b>
                    
                </div>
            </div>

        </div>
        
        <span class="text">

</span>
        
    </div>
</div>
{% endspaceless %}