{% spaceless %}

    {{ '/public/css/block/infoPageAssurance.css'|cssloader }}
    {% spaceless %}
        <div class="contentbottom">
            <div>
                <p>
                Pour une demande de visite technique vous pouvez nous appeler directement ou tout simplement par notre formulaire de demande.
                N’hesitez pas indiquer nous vos disponibilités.
                </p>
                <h1>Vsiste  Technique</h1>


                <div class="panel normal">
                    <div>

                        <h1 class="colred">Pourquoi une visite technique?</h1>
                        <div class="text">
                            <p>
                            <b class="colred">1.</b> Evaluation du cubage de vos objets/mobilier.
                            Numérotez les cartons et inscrivez le contenu avec un feutre.
                            </p><p>
                            <b class="colred">2.</b> Appréciations des difficultés, démontage, emballage, acces.
                            </p><p>
                            <b class="colred">3.</b> Evaluation du nombre et du type de carton pour votre déménagement.
                            </p>
                            <b class="colred">4.</b> Vérifiez avec vous les étapes pour la réussite de votre déménagement.
                        </div>


                    </div>
                </div>
                <div class="panel normal">
                    <div>

                        <h1 class="colred">De votre coteén’hesitez pas à demander au technicien</h1>
                        <p>
                             -  Disponibilité de la date de votre déménagement.
                        </p>
                        <p>
                            -   Devis ou estimation du prix pour votre déménagement.
                        </p>
                        <p>
                            -   Quelles sont les garanties  et comment ça fonctionne.
                        </p>
                        <p>
                        -   Quand et combien vous devez payer.
                        </p>
                        <p>
                            -   Combien prendra de temps votre déménagement.
                        </p>
                        <p>
                            -   Comment peut on reussir un déménagement moins cher.<br>
                        </p>

                    </div>
                </div>

                <div class="panel normal">
                    <div>

                    </div>

                </div>

                <span class="text">

</span>

            </div>
        </div>
    {% endspaceless %}

{% endspaceless %}