{{ '/public/css/block/top_body_block.html.css'|cssloader }}
<div class="top_body_block">
    <div class="sectionleft">
        <h1>Demandez votre devis gratuit, et recevez <br> une offre de prestation adaptée pour votre<br> déménagement par nos partenaires.</h1>
        <h2 class="colred">Estimer le cout de votre déménagement<br>par notre calculateur <u>gratuit et en ligne</u>.</h2>
    </div>
    <div class="sectionright">

    </div>
</div>