 {% spaceless %}
     <div class="sectionleft">
         <h1>Assurance de déménagement.</h1><h2> On en a besoin? <br><span class="colred">Quelle est la couverture en cas d’avarie?</span></h2>
         <span class="text"><br>
L’entreprise de déménagement doit avoir un GARANTIE RESPONSABILITE CONTRACTUELLE (RC) et pouvoir vous proposer une assurance dommage.
</span>
         <span class="text right">
<a href="#indemnisation" class="colred">INDEMNISATION</a>
<a href="#exclusions" class="colred">EXCLUSIONS</a>
<a href="#conseils" class="colred">CONSEILS</a>
</span>
         <div class="simpletip">
             <h2 class="colred">Estimez vous meme le cout de votre déménagement avec l’aide notre calculateur <u>gratuit et en ligne</u>.</h2>
             <h2>Vous devez etre le plus précis possible</h2>
             <span class="text">
		Mentionnez le code postal de la ville de départ ainsi que la ville d‘arrivée, les étages tant au chargement qu’a la livraison, ainsi que la prestation retenue pour votre déménagement.
		</span>
         </div>
     </div>
 {% endspaceless %}