 {% spaceless %}
     {% if app.environment == 'dev' %}<!-- Start {{ _self.getTemplateName() }} -->{% endif %}
<div class="sectionleft">

    <div class="prestattion_div">
        <h1>LES PRESTATIONS DE DÉMÉNAGEMENT</h1>
        <div class="text">
            Nous vous proposons 4 prestations de déménagement en fonction de votre budget.
        </div>
        <div class="text right">
            <a href="#mobilier" class="colred">PRESTATION MOBILIER</a>

            <a href="#économique" class="colred">PRESTATION ECONOMIQUE</a>

            <a href="#standard" class="colred">PRESTATION STANDARD</a>

            <a href="#luxe" class="colred">PRESTATION LUXE</a>
        </div>
        <div class="simpletip">
            <h2 class="colred">Estimez vous meme le cout de votre déménagement avec l’aide notre calculateur <u>gratuit et en ligne</u>.</h2>

            <h2>Vous devez etre le plus précis possible</h2>

            <span class="text">
		Mentionnez le code postal de la ville de départ ainsi que la ville d‘arrivée, les étages tant au chargement qu’a la livraison, ainsi que la prestation retenue pour votre déménagement.
		</span>
        </div>
    </div>
</div>
     {% if app.environment == 'dev' %}<!-- End {{ _self.getTemplateName() }} -->{% endif %}
 {% endspaceless %}