.espace_top{
    margin-bottom: 20px;
}
.espace_body{
    margin-bottom: 150px;
    padding-left: 50px;
}

.espace_body .text{
    font-size: 14px;
    border-bottom: 1px #c1c0c0 solid;
    padding-bottom: 10px;
    padding-top: 8px;
}