.navbar li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.navbar li a{
    text-transform: uppercase;
    color: #a72222;
    text-decoration: none;
    padding: 24px 38px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-right: 0.1em rgb(245, 242, 242) solid;
    background: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.navbar li a:hover{
    background-color: #a72222;
    color: white;

}
.navbar li:first-child{
    float: left;
}
.navbar li:first-child>a{
    background: #a72222;
    color: White;
    height: 103px;
    padding: 0px;
    text-align: center;
    width: 155px;
    padding-top: 25px;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;

}
.navbar li:last-child>a{
    border-right: none;
}


@media (max-width: 700px) {
    .navbar li{
        width: 100%;
    }
    .navbar li>a{
        width: 100%;
        border-bottom: 0.1em rgb(245, 242, 242) solid;
    }
    .navbar li:first-child {

        text-align: center;
        margin-bottom: 10px;
    }
    .navbar li:first-child>a{
        height: 70px;

    }
 }
