{% extends 'base.html.twig' %}
{% block topMenu %}
    {% include 'menu/topMenu.html.twig'%}
{% endblock %}

{% block bodyPage %}

    {% if form.loginForm is defined %}

        <main>
        <figure>

            <div class="headline">
                <h2 class="text-headline">Espace Déménageur</h2>
                <h3 class="text-subheadline">Devis, Facture, Lettre Voiture Chargement, Lettre Voiture livraison, Condition Générales, Déclaration valeur</h3>
            </div>
        </figure>


        {% include 'form/formbase.html.twig' with {'form': form.loginForm} %}
                <span class="form_end">
                    <i>Naves-vous pas encore compte?</i>
                    <a href="creer">Creer nouvelle compte</a>
                </span>
        </main>

    {% elseif form.registerForm is defined %}
        <main>

            <h3 class="register_info"> <i class="fas fa-exclamation-triangle"></i> Avant d'activer votre compte, merci de remplire les champs suivantes</h3>
            {% include 'form/formbase.html.twig' with {'form': form.registerForm} %}
        </main>

    {% elseif user.roles == 'ROLE_USER' %}
        {{ '/public/css/form.html.css'|cssloader }}
        <main>
            <figure>
                <div class="headline">
                <h3 class="text-subheadline">Bonjour <b>{{ user.firstname }} {{ user.lastname }}</b><br/> Votre compte n'est pas encore activée.</h3>
                </div>
            </figure>

        </main>
    {% endif %}

{% endblock %}