{% block form_row %}
    {% spaceless %}
        <div class="row">


            {% if form.vars.attr|first == 'topformdiv' %}
                {{ form_label(form) }}
            {% endif %}
            {{ form_widget(form) }}
            {% if form.vars.attr|first != 'topformdiv' %}
                {{ form_label(form) }}
            {% endif %}

        </div>
    {% endspaceless %}
{% endblock form_row %}
