<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="/css/{{ cssFileName }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block body %}
    {% block topHeader %}
        {% block topMenu %}
        {% endblock %}
    {% endblock %}
    {% block topBody %}
    {% endblock  %}
    {% block infoPage %}
    {%  endblock %}
    {% block bodyPage %}
    {% endblock %}
    {% block footerPage %}
    {% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
<script src="/js/{{ jsFileName }}"></script>


</body>
</html>