{{ '/public/css/base.html.css'|cssloader }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="/css/{{ cssFileName }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="divbodyblock">
    <div>
{% block body %}
    {% block topHeader %}
        {% block topMenu %}
        {% endblock %}
    {% endblock %}
    {% block topBody %}
    {% endblock  %}
    {% block infoPage %}
    {%  endblock %}
    {% block bodyPage %}
    {% endblock %}
    {% block footerPage %}
    {% endblock %}
{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
<script src="/js/{{ jsFileName }}"></script>


</body>
</html>